.table {
    border: 3px solid hsl(0deg 0% 95%);
    border-collapse: collapse;
    width: 500px;
    height: 550px;
    margin: 100px auto;
}

img {
    width: 30%;
    height: 30%;
    display: block;
    margin: auto;
}

input[type=text],
input[type=password] {
    width: 95%;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    left: 2.5%;
}

.buttonGreen {
    display: block;
    border: none;
    background-color: hsl(158deg 95% 34%);
    width: 95%;
    padding: 12px 20px;
    box-sizing: border-box;
    color: white;
    position: relative;
    left: 2.5%;
    cursor: pointer;
}

.buttonGreen:hover {
    opacity: 0.4;
}

.buttonRed {
    border: none;
    background-color: hsl(4deg 90% 58%);
    width: 20%;
    color: white;
    padding: 12px 0px;
    position: relative;
    left: 5%;
    top: 31%;
    cursor: pointer;
}

.buttonRed:hover {
    opacity: 0.4;
}

label {
    position: relative;
    left: 2.5%;
}

.footer {
    background-color: hsl(0deg 0% 95%);
    width: 100%;
    height: 20.2%;
    box-sizing: border-box;
}

.p {
    text-align: right;
    width: 60%;
    position: relative;
    left: 30%;
    top: -10%;
}